/* styles */
/* called by your view template */

* {
  box-sizing: border-box;
}

body {
  background: rgba(33,33,33,1);
  color: rgba(200,200,200,1);
  font-family: 'Helvetica';
  padding: 0;
}

header {
  padding: 1rem;
}

h1 {
  font-weight: normal;
  padding: 0;
  margin: 0;
}

a { color: rgba(53,153,253,1); }

input[type="submit"] {
  background: rgba(43,103,212,1);
  color: #FFF;
  border: none;
  padding: 0.5rem 3rem;
}

textarea, input[type="text"] {
  width: 100%;
  font-size: 1rem;
}

input[type="text"] {
  font-size: 1.5rem;
}

.panes {
  display: flex;
  flex-direction: row;
}

.panes > div {
  flex-basis: 50%;
  margin: 1rem;
}

.results {
  border-top: 2px dashed #666;
  padding-top: 1rem;
  margin: 0;
  margin-top: 1rem;
}

.results li {
  margin-bottom: 1rem;
}

.error {
  background: #FFFFCC;
  color: #000;
  padding: 1rem;
}
